// Center text
%centered {
 text-align: center;
}

%clearfix {
  &:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
  }
}
// Transitions

%transition-all {
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}
