/* Base Styles -------------------- */
html {
  @include text(1em, 1.5, $color: $white);
  font-family: $stack-open-sans;
  overflow: scroll;
}


* {
  box-sizing: border-box;
}


body {
  margin: 0;

}

/* Let's get this party started */
::-webkit-scrollbar {
  background: $haygrove-color;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px $haygrove-color;
    background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: $haygrove-color;
    -webkit-box-shadow: inset 0 0 6px $haygrove-color;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $haygrove-color;
}





img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


.hidden {
  display: none;
}


/* Pseudo-classes ------------------ */

a {
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }
  &:visited {
    color: $color-link-default;
  }
  &:hover {
    color: rgba($color-link-default, .5);
  }
}
