/* Base Styles -------------------- */
html {
  @include text(1em, 1.5, $color: $white);
  font-family: $stack-open-sans;
}


* {
  box-sizing: border-box;
}


body {
  margin: 0;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: $white;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $white;
}





img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../data/images/preloader.gif) center no-repeat #fff;
}

.hidden {
  display: none;
}


/* Pseudo-classes ------------------ */

a {
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }
  &:visited {
    color: $color-link-default;
  }
  &:hover {
    color: rgba($color-link-default, .5);
  }
}
