


// Text

@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

// Transitions

@mixin transition( $time) {
  -webkit-transition: ease-in-out,all $time ease-in-out;
  -moz-transition: ease-in-out,all $time ease-in-out;
  -o-transition: ease-in-out,all $time ease-in-out;
  transition: ease-in-out,all $time ease-in-out;
}


@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
